<div class="controls">
  <div class="hilight">
    <span>Turn: <input type="number" [(ngModel)]="currentTurn" /></span>
    <span>
      Markers:
      <input
        type="text"
        [(ngModel)]="turnmarksDelimited"
        (change)="onEnteredTMD()"
      />
    </span>
  </div>
  <div class="buttons">
    <button (click)="onCompleteTurn()">Next</button>
    <button (click)="onHighlight()">Hi-lite</button>
  </div>
  <div class="connect">
    <span>
      Join Code: <b>{{ code }}</b>
    </span>
  </div>
</div>

<div class="container">
  <div class="corner upper-left"></div>
  <div *ngFor="let iCol of columns" class="index">
    <span> {{ iCol }}</span>
  </div>
  <div class="corner upper-right"></div>
  <ng-container *ngFor="let iRow of rows">
    <div class="index">
      <span> {{ iRow }}</span>
    </div>
    <div
      *ngFor="let iCol of columns"
      [ngClass]="{
        water: true,
        'blue-left': iCol === 'E' || iCol === 'K',
        'blue-right': iCol === 'D' || iCol === 'J',
        'blue-bottom': iRow === 4 || iRow === 10,
        'blue-top': iRow === 5 || iRow === 11,
        highlight: highlights.includes(iCol + ':' + iRow),
        turnhighlight: turnmarks.includes(value(iCol, iRow) ?? -100),
        liveshot: value(iCol, iRow) === currentTurn
      }"
      (click)="onClickOpenWater(iCol, iRow)"
    >
      <span> {{ value(iCol, iRow) }}</span>
    </div>
    <div class="index">
      <span> {{ iRow }}</span>
    </div>
  </ng-container>
  <div class="corner lower-left"></div>
  <div *ngFor="let iCol of columns" class="index">
    <span> {{ iCol }}</span>
  </div>
  <div class="corner lower-right"></div>
</div>
